services:
  zookeeper:
    image: bitnami/zookeeper:3.8
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    ports:
      - "2181:2181"
    healthcheck:
      test: [ "CMD-SHELL", "nc -z localhost 2181 || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - monitoring

  kafka:
    image: bitnami/kafka:3.5
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
      - KAFKA_BROKER_ID=1
    ports:
      - "9092:9092"
    healthcheck:
      test: [ "CMD-SHELL", "nc -z localhost 9092 || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      - zookeeper
    networks:
      - monitoring

  kafka-ui:
    image: provectus/kafka-ui:latest
    ports:
      - "8080:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
    depends_on:
      - kafka
    networks:
      - monitoring

  timescaledb:
    image: timescale/timescaledb:latest-pg14
    env_file:
      - .env
    environment:
      - POSTGRES_DB=featurestore
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin123
    ports:
      - "5432:5432"
    # healthcheck:
    #   test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres} -d ${POSTGRES_DB:-postgres} -h localhost || exit 1" ]
    #   interval: 10s
    #   timeout: 5s
    #   retries: 5
    volumes:
      - timescaledb-data:/var/lib/postgresql/data
      - ./timescaledb/initdb:/docker-entrypoint-initdb.d:ro
    networks:
      - monitoring

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - monitoring

  postgres_exporter:
    image: prometheuscommunity/postgres-exporter:latest
    environment:
      - DATA_SOURCE_NAME=postgresql://postgres:${POSTGRES_PASSWORD}@timescaledb:5432/postgres?sslmode=disable
    depends_on:
      - timescaledb
    ports:
      - "9187:9187"
    networks:
      - monitoring

  redis_exporter:
    image: oliver006/redis_exporter:latest
    command: --redis.addr=redis:6379
    ports:
      - "9121:9121"
    healthcheck:
      test: [ "CMD-SHELL", "wget --spider -q http://localhost:9121/ || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      - redis
    networks:
      - monitoring

  kafka_exporter:
    image: danielqsj/kafka-exporter:latest
    environment:
      - KAFKA_BROKERS=kafka:9092
    ports:
      - "9308:9308"
    depends_on:
      - kafka
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD:-admin}
      - GF_AUTH_ANONYMOUS_ENABLED=true
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana/dashboards:/var/lib/grafana/dashboards:ro
    depends_on:
      - prometheus
    networks:
      - monitoring

volumes:
timescaledb_data:
redis_data:
prometheus_data:
grafana_data:

networks:
  monitoring:
    driver: bridge
